<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>FirstFilter</filter-name>
		<display-name>FirstFilter</display-name>
		<description></description>
		<filter-class>me.rmrf.servlet.FirstFilter</filter-class>
	</filter>
	<listener>
		<listener-class>me.rmrf.servlet.FirstListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<display-name>FirstServlet</display-name>
		<description></description>
		<servlet-class>me.rmrf.servlet.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<display-name>SecondServlet</display-name>
		<description></description>
		<servlet-class>me.rmrf.servlet.SecondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThirdServlet</servlet-name>
		<display-name>ThirdServlet</display-name>
		<description></description>
		<servlet-class>me.rmrf.servlet.ThirdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<display-name>UploadFile</display-name>
		<description></description>
		<servlet-class>me.rmrf.servlet.UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecondServlet</servlet-name>
		<url-pattern>/SecondServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThirdServlet</servlet-name>
		<url-pattern>/ThirdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/UploadFile</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>mysqlUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlPass</param-name>
		<param-value>123456</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlPort</param-name>
		<param-value>3306</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlURL</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlDatabase</param-name>
		<param-value>rmrf</param-value>
	</context-param>
</web-app>