<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>me.rmrf.servlet.FirstListener</listener-class>
	</listener>
	<context-param>
		<param-name>mysqlUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlPass</param-name>
		<param-value>123456</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlPort</param-name>
		<param-value>3306</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlURL</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>mysqlDatabase</param-name>
		<param-value>rmrf</param-value>
	</context-param>
</web-app>